.navbar {
  display: none;
}

// override datatable's hard coded row selection color
// https://github.com/rstudio/DT/blob/f0d511da3d32683342e9876c2b7da9ff1cd2f112/inst/htmlwidgets/lib/datatables/css/dataTables.bootstrap4.extra.css#L72-L75
#table_genes {
  tbody tr.active td {
    background-color: $primary;
  }
}

// disabled class for shiny::tabPanel
.nav li a.disabled {
  cursor: not-allowed !important;
}

// use handles for region selector
#region-selector {
  .irs--shiny .irs-handle {
    top: 18px;
    width: 5px;
    height: 22px;
    border: 1px solid $primary;
    background-color: $primary;
    // box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.3);
    border-radius: 2px;
  }
}
